# Data Science Tools and Ecosystems

In this notebbok, Data Science tools and Ecosystem are summarized.

**Objectives**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Show common arithmetic expressions in Python language
* Show an arithmetic expression in Python language in an example and its execution

Some of the popular languages Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. Julia
7. JavaScript
8. C++

Some of the commonly used libraries used by Data Scientists include:
1. For Python: Pandas, NumPy, Matplotlib, Seaborn, Scikit-learn, Keras, TensorFlow, PyTorch
2. For Spark: Vegas, BigDL
3. For R: ggplot2

| Data Science tools |
|----------------|
|Jupyter Notebooks |
|JupyterLab|
|Apache Zeppelin|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python:
x = 1
y = 2
x + y
x - y
x * y
x / y

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Eduardo Quintanar